*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    max-height: 100%
} */
header{
    
    height: 10vh;
}
.nav{
    /* background-color: aqua; */
    display: flex;
    padding: 1rem 0 1rem 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #db3b67, #daae51);
}

a {
    text-decoration: none;
}
a:link{
    color:black
  }
  a:hover{
    color:aqua
  }
  a:active{
    color:chocolate
  }
  a:visited{
    color:brown
  }
  .sub:link{
    color:black
  }
  .sub:hover{
    color:rgb(0, 119, 119)
  }
  .sub:active{
    color:chocolate
  }
  .book:visited{
    color:brown
  }
  .book:link{
    color:black
  }
  .book:hover{
    color:rgb(0, 119, 119)
  }
  .book:active{
    color:chocolate
  }
  .sub:visited{
    color:brown
  }

.main-container{
    width: 100%;
    height: 90vh;
    background: linear-gradient(to right, #db3b67, #daae51);
    transition: background 2000ms ease-in;
    display: flex;
    justify-items: center;
    border-top: 1px solid white;
}



/* a*nav{
    padding: 2rem 2rem 2rem 2rem;
} */

[href*='nav']{
    padding: 0 2rem 0 2rem;
}

article{
    text-transform: none;
    font-size: 2.5rem;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: justify;
}
.intro{
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    font-family: sans-serif;
    font-family: monospace;
    font-weight: lighter;
    text-align: justify;
}
.outro{
    font-size: 1rem;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: justify;
}
.land{
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;

}
.sub{
    border: none;
    border-radius: 50px;
    padding: 1rem 1rem 1rem 1rem;
    font-weight: bold;
    background-color: white;
}


.book{
    border: none;
    border-radius: 50px;
    padding: 1rem 1rem 1rem 1rem;
    font-weight: bold;
    
}

/* @keyframes background{
  from{ background: linear-gradient(to right, #db3b67, #daae51); }
  to { background: blue;}} */
 

@media screen and (max-width: 568px) {
  body{
   
    background-image: url(./src/hero.png);  
    background-repeat: no-repeat;
    
  }
  .nav{
    /* background-color: aqua; */
    display: flex;
    padding: 1rem 0 1rem 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;}
    .main-container{
      width: 100%;
      height: 90vh;
      background: linear-gradient(to right, #db3b67, #daae51);
      opacity: 80%;
      display: flex;
      justify-items: center;
      border-top: 1px solid white;
      

  }
    [url*='hero']{
      opacity: 50%;
      padding-top: 80%;
    }
    [href*='nav']{
      padding: 0 0.5rem 0 0.5rem;
  }
    .img{
      display: none;
    }
    .land{
      color: white;
      font-family: 'Franklin Gothic Medium';
      font-size: 20px;
  }
  article{
    text-transform: none;
    font-size: 2rem;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: justify;
}
.intro{
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    font-family: sans-serif;
    font-family: monospace;
    font-weight: lighter;
    text-align: justify;
}
.outro{
    font-size: 1rem;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: justify;
}
}

